<h2>Por Region</h2>
<div class="row">
  <div class="col">
      <!---->
      <div class="input-group mb-6">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Regions</label>
        </div>
        <select (change)="searchByRegion($event)"
        [(ngModel)]="selectedOption"
        class="custom-select" id="inputGroupSelect01">
          <option *ngFor="let region of regions" [value]="region"

          >
            {{region}}</option>

        </select>
      </div>
  </div>
</div>
<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

<div class="row">
  <div class="col">
    <contry-table [countries]="countries" ></contry-table>

  </div>
</div>
